body{
    background-image: url("/Assets/Background/technologie.jpg");
    background-size: cover;
    background-attachment: fixed;
    gap: 0;
    /* margin-bottom: 6.5rem; */
}
main{
    font-family: "Barlow Condensed";
}