p.destination-planet-description{
    color: var(--text);
    line-height: 25px;
    text-align: center;
    font-family: "Barlow";
    /* min-height: 500px; */
    /* outline: 1px solid red;
    color: red; */
}